@model Admin.Riafco.Dataflex.Pro.Models.About.FormData.ManageStepFormData

<script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
<script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Editeur/editor.js"></script>

@{
    string action = ViewBag.Action;
    string formId = action + "Form";
}

@using (Html.BeginForm(action, "About", FormMethod.Post, new { id = formId, enctype = "multipart/form-data", @class = "modal-body" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.StepId)
    <div class="ligne_input">
        @Html.LabelFor(d => d.StepDate)<span class="obgligatoire">*</span>
        <span class="erreur">@Html.ValidationMessageFor(d => d.StepDate)</span>
        @Html.TextBoxFor(d => d.StepDate, new { @class = "champ date_champ" })
    </div>

    <hr class="ligne_separ" />

    <div class="ligne_input">
        <div class="text_obligatoire">
            <span class="obgligatoire">(*): champ obligatoire.</span>
        </div>
        <div class="btn_container">
            <input type="submit" class="btn_valider" value="VALIDER" />
        </div>
    </div>
}